.App {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 11fr;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 'nav nav'
                       'color-picker projects'
                       'palettes palettes'
}

nav {
  grid-area: nav;
  background: -webkit-linear-gradient(-180deg, rgb(30, 251, 129), rgb(229, 2, 212), rgb(95, 6, 192));
  text-align: center;
  font-size: 70px;
  box-shadow: 2px 1px 8px #000000c9;
}

.color-picker {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: color-picker;
  padding: 40px;
}

.projects {
  grid-area: projects;
}

.palettes {
  height: 80px;
  text-align: center;
}

.palettes>div>button, .palettes>div>input, .palettes>div>select{
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 24px;
}

.palettes>div>button{
    background: -webkit-linear-gradient(-180deg, rgb(251, 112, 30), rgb(229, 2, 212), rgb(95, 6, 192));
    color: white;
  }

  .palettes>div>button:hover {
    cursor: pointer;
    box-shadow: 2px 3px 7px #0000008f;
  }


.colors {
  border: 1px solid black;
  border-radius: 250px;
  width: 15%;
  margin: 10px;
  padding-top: 35vh;
  text-align: center;
}

.color-div {
  height: 20px;
  width: 20px;
  border: 1px solid black;
  margin: 5px;
}

.palette-area {
  display: flex;
}

.lock {
  width: 30%;
  position: relative;
  top: 9px;
}

.palette-name {
  border: 0px;
  border-bottom: 1px solid black;
}

.delete {
  width: 10%;
}
